.DS_Store
build/
dist/
docs/_build/
docs/_source/
docs/ECMA*
log/
map_sources/
mapmaker.egg-info/
maps/
*.pyc
*.pbf

*.sublime-workspace
bin/
datasets/
logs/
generated/
good/
mathjax/
missing/
polishing/
resources/
WIP/
WORKDIR/
