[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-pptx = "*"
numpy = "*"
beziers = "*"
svgwrite = "*"
landez = "*"
mercantile = "*"
pymupdf = "*"

[requires]
python_version = "3.7"
