[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
sphinx = "*"

[packages]
python-pptx = "*"
numpy = "*"
beziers = "*"
svgwrite = "*"
pymupdf = "*"
requests = "*"
pyparsing = "*"
pyyaml = "*"
rdflib-sqlalchemy = "*"
rdflib = "*"
shapely = "*"
pyproj = "*"
mercantile = "*"
mbutil = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
