[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-pptx = "*"
numpy = "*"
beziers = "*"
svgwrite = "*"
mercantile = "*"
pymupdf = "*"
mbutil = {git = "https://github.com/mapbox/mbutil"}
requests = "*"
pyparsing = "*"

[requires]
python_version = "3.7"
